@media (width <= 1920px)
{
    .footer-column__social-item {
        color: #444A34;
    }
}

@media (width <= 1148px) 
{
    .services__list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        
    }

    .services__item {
        width: 30%;        
    }

    .get-started {
        margin-top: 315px;
    }

    .footer__middle {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .footer-column {
        width: 40%;
    }

    .footer__top {
        width: 81%;
    }

    .hero__title, .hero__content {
        width: 100%;
    }
}

@media (width <= 780px)
{
    .hero__title {
        font-size: 50px;
    }
    .services__title {
        font-size: 30px;
        line-height: 35px;
    }
    .services__item {
        width: 100%;
    }
    .get-started__title {
        font-size: 40px;
    }
    .get-started {
        margin-top: 735px;
    }
    .footer__top {
        width: 100%;
    }

    .footer-column__mail {
        font-size: 20px;
    }

    img {
        width: 180px;
    }

    .footer-column:last-child ul {
        width: 100%;
    }
}

@media (width <= 640px)
{
    .footer-column__mail {
        font-size: 16px;
    }
}

@media (width <= 425px) {
    .hero__title, .get-started__title {
        font-size: 35px;
        line-height: 55px;
    }
    .hero__descr {
        font-size: 12px;
    }
    .services__title {
        font-size: 20px;
    }

    .footer__top {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .footer__contacts {
        width: 100%;
    }

    .footer-column {
        width: 100%;
    }

    .footer-column__title {
        margin-top: 55px;
        font-size: 20px;
    }

    .footer-column__link {
        font-size: 18px;
    }

    .footer-bottom {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .footer-bottom__copyright {
        margin-top: 35px;
    }

    
    .footer-column__social-link-fb {
        color: #1358e3;
    }
    .footer-column__social-link-tw {
        color: #0da2ff;
    }
    .footer-column__social-link-g {
        color: #dfbc20;
    }
    .footer-column__social-link-in {
        color: #2387bd;
    }
}

@media (width <= 320px)
{
    .hero {
        height: 535px;
    }
    .hero__title, .get-started__title {
        font-size: 23px;
        line-height: 35px;
    }

    .hero__descr {
        font-size: 14px;
    }

    .services {
        margin-top: 70px;
    }

    .services__title {
        font-size: 16px;
        line-height: 25px;
    }

    .footer__top {
        gap: 25px;
    }

    .footer__middle {
        margin-top: 20px;
    }

}