.services {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin-top: 150px;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        color: #4D533C;    
    }

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        height: 310px;
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
        padding: 30px;

        &-subtitle {
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
            text-transform: uppercase;
            color: #4D533C;
        }

        &-descr {
            font-size: 14px;
            line-height: 26px;
            color: rgba(33, 56, 66, 0.6);
        }

        &-link {
	        color: #FFD723;
        }
    }   
}

.get-started {
    font-family: 'Poppins';
    font-style: normal;
    color: #4D533C;
    width: 100%;
    height: 365px;  
    background: #FAFAFA;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);  
    margin-top: 200px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    &__title {
        font-weight: 700;
        font-size: 60px;
        line-height: 74px;
    }

    &__link {
        color: #D4D6D4;
        margin-top: 50px;
    }
}