@import '_header_&_hero.scss';
@import '_services_&_get-started.scss';
@import '_footer.scss';
@import '_reset.scss';

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.link {
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	text-decoration: none;
	color: #d4d6d4;
	-webkit-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}

.link:hover {
	color: #FFD723;
}

ul, li, a {
    all: unset;
}

a {
	cursor: pointer;
}

.s {
	background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll-page {
	opacity: 0;
	-webkit-transition: opacity .5s linear;
	-o-transition: opacity .5s linear;
	transition: opacity .5s linear;
}